<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smda1"
        tools:targetApi="36">
        <activity
            android:name=".Storyuploaded20Activity"
            android:exported="false" />
        <activity
            android:name=".Uploadstory19Activity"
            android:exported="false" />
        <activity
            android:name=".Editjacob15Activity"
            android:exported="false" />
        <activity
            android:name=".Craigstory18Activity"
            android:exported="false" />
        <activity
            android:name=".Call10Activity"
            android:exported="false" />
        <activity
            android:name=".Internshaladm9Activity"
            android:exported="false" />
        <activity
            android:name=".Jacobsdms8Activity"
            android:exported="false" />
        <activity
            android:name=".Searchpage7Activity"
            android:exported="false" />
        <activity
            android:name=".Postpicture16Activity"
            android:exported="false" />
        <activity
            android:name=".Searcgpage6Activity"
            android:exported="false" />
        <activity
            android:name=".Jacobsprofile13Activity"
            android:exported="false" />
        <activity
            android:name=".youactivity_12"
            android:exported="false" />
        <activity
            android:name=".Followingactivity11Activity"
            android:exported="false" />
        <activity
            android:name=".Jacobshome5Activity"
            android:exported="false" />
        <activity
            android:name=".Login24Activity"
            android:exported="false" />
        <activity
            android:name=".Login3Activity"
            android:exported="false" />
        <activity
            android:name=".Createandsignup2Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>